.container{
    display: flex; 
    flex-direction: column; 
    font-family: 'Quicksand', sans-serif;
}

.container h3{
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding: 15px;
}

